.SkeletalLoading {
  width: 300px;
  height: 300px;
    background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}

.skeletalItems {
  height: 50px;
  width: 100%;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  margin-bottom: 10px;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}
@media (max-width:768px){
  .SkeletalLoading{
    width: 100%;
  }
}


/* .skeletonLoader {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skeletonHeader {
  height: 20px;
  width: 50%;
  background-color: #ccc;
  border-radius: 4px;
}

.skeletonContent {
  height: 15px;
  width: 100%;
  background-color: #ddd;
  border-radius: 4px;
} */
